.headerDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchDiv {
  display: flex;
  background-color: blue;
  height: 4.5vh;
  align-items: center;
  justify-content: center;
}

.Clear {
  background-color: skyblue;
}

.Clouds {
  background-color: gray;
}

.Snow {
  background-color: lightgray;
}

.Rain {
  background-color: lightblue;
}
