.mainBody {
  height: 100vh;
}
* {
  padding: 0px;
  margin: 0px;
}
.headerDiv {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .unitDiv {
    display: flex;
    padding: 10px;
    padding-right: 15px;
    > * {
      padding: 7px;
    }
  }
  button {
    border-style: none;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background-color: #1a1a1a;
    color: antiquewhite;
  }
}
.searchDiv {
  display: flex;
  height: 4.5vh;
  align-items: center;
  justify-content: center;
}

.weatherDiv {
  position: absolute;
  left: 45%;
  top: 50%;
}

textarea {
  height: 20px;
  resize: none;
  text-align-last: center;
  text-align: center;
  margin: 1vh;
  padding-top: 7px;
  border-radius: 10px;
  border-style: none;
}

.Clear {
  background-color: skyblue;
}

.Clouds {
  background-color: gray;
}

.Snow {
  background-color: lightgray;
}

.Rain {
  background-image: url(../img/rain.jpg);
  backdrop-filter: blur(10px);
}

.Mist {
  background-color: antiquewhite;
}
