.headerDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchDiv {
  display: flex;
  height: 4.5vh;
  align-items: center;
  justify-content: center;
}

.weatherDiv {
  height: 100vh;
}

.Clear {
  background-color: skyblue;
}

.Clouds {
  background-color: gray;
}

.Snow {
  background-color: lightgray;
}

.Rain {
  background-image: url(../img/rain.jpg);
  backdrop-filter: blur(10px);
}

.Mist {
  background-color: antiquewhite;
}
